<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div id="container"> 
        <div id="left">
            <p>Standard State:{{atom.standardState}}</p>
            <p>Melting point:{{atom.meltingPoint}}</p>
            <p>Boiling point:{{atom.boilingPoint}}</p>
            <p>Density:{{atom.density}}</p>
            <p>Bonding type:{{atom.bondingType}}</p>
            <p>VanDerWaals Radius:{{atom.vanDerWaalsRadius}}</p>
        </div>
        <div id="main">
            <div id="head">
                <h1>Name:{{atom.name}}</h1>
                <h2>Group Block:{{atom.groupBlock}}</h2>
            </div>
            <div id="center">
                <div id="number">
                    <h2>Atomic number:{{atom.atomicNumber}}</h2>
                </div>
                <div id="symbol">
                    <h1>Symbol:{{atom.symbol}}</h1>
                    <h3>Atomic mass:{{atom.atomicMass}}</h3>
                </div>
            </div>
            <div id="foot">
                <h3>Year discovered:{{atom.yearDiscovered}}</h3>
            </div>
        </div>
        <div id="right">
            <p>Electronegativity:{{atom.electronegativity}}</p>
            <p>Electronaffinity:{{atom.electronAffinity}}</p>
            <p>IonizationEnergy:{{atom.ionizationEnergy}}</p>
            <p>Atomic radius:{{atom.atomicRadius}}</p>
            <p>Electron Configuration:{{atom.electronicConfiguration}}</p>
            <p> Oxidation state:{{atom.oxidationStates}}</p>
            <p> <a href="Goback"> Go Back</a></p>
        </div>

 </body>
</html>
