<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <h3>Name:{{atom.name}}</h3>
    <h3>Symbol:{{atom.symbol}}</h3>
    <h3>Atomic number:{{atom.atomicNumber}}</h3>
    <h3>Atomic mass:{{atom.atomicMass}}</h3>
    <h3>Electronegativity:{{atom.electronegativity}}</h3>
    <h3>Melting point:{{atom.meltingPoint}}</h3>
    <h3>Boiling point:{{atom.boilingPoint}}</h3>
    <h3>Density:{{atom.density}}</h3>
    <h3>Electronaffinity:{{atom.electronAffinity}}</h3>
    <h3>IonizationEnergy:{{atom.ionizationEnergy}}</h3>
    <h3>Group Block:{{atom.groupBlock}}</h3>
    <h3>Bonding type:{{atom.bondingType}}</h3>
    <h3>Year discovered:{{atom.yearDiscovered}}</h3>
    <h3>Atomic radius:{{atom.atomicRadius}}</h3>
    <h3>Electron Configuration:{{atom.electronicConfiguration}}</h3>
    <h3> Oxidation state:{{atom.oxidationStates}}</h3>
    <h3>Standard State:{{atom.standardState}}</h3>
    <h3>VanDerWaals Radius:{{atom.vanDerWaalsRadius}}</h3>
    
    





</body>
</html>